<section id="site-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="today-datas">
            <li class="bred">
              <div class="pull-left"><i class="fa fa-warning"></i></div>
              <div class="datas-text pull-right">
                <a><span class="bold">404</span></a>Page Not Found
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="widget wblue">
          <div ht-widget-header title="Page Not Found" allow-collapse="true"></div>
          <div class="widget-content text-center text-info">
            <div class="container">
              No soup for you!
            </div>
          </div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
