.flexslider.paddings{
	padding-top: 50px;
}
.flexslider.bg-moving{
	height: 460px;
}
.flex-control-nav{
	display: none;
}
.slides li:first-child{
	padding: 80px 0 0 0;
}
.slides iframe{
	width: 100%;
	height: 100%;
}
.style_one h1{
	color: #fff;
	margin-bottom: 8px;
	text-shadow: 3px 3px 0 #000;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
	font-weight: 700;
}

.style_one h1 span{
	font-size: 55px;
	line-height: 65px;
	display: block;
}
.style_one h1 span span{
	padding-bottom: 20px;
	display: inline-block;
}
.style_one p.lead{
	color: #fff;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 200;
	text-shadow: 3px 3px 0 #000;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.style_one img{
	width: 100%;
}

.style_one .boxes-info{
	background: rgba(255,255,255,0.8);
}
.style_one .boxes-info p{
	text-shadow: none;
	color: #777;
}
/* Boxes Info ----------------------------------------------*/

.boxes-info{
	text-align: left;
	padding: 20px;
	border: solid 1px #dedede;
}
.boxes-info h3 i{
	font-size: 40px;
	margin-top: -5px;
	margin-right: 10px;
}
.boxes-info h4{
	padding: 5px 10px;
	margin: 15px 0;
	font-weight: 400;
}

.style_two h1{
	color: #fff;
	margin-bottom: 8px;
	text-shadow: 3px 3px 0 #000;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
	font-weight: 700;
}

.style_two h1 span{
	font-size: 55px;
	line-height: 65px;
	display: block;
}
.style_two h1 span .border{
	height: 6px;
	width: 30%;	
	margin: 0 auto;
	margin-top: 20px;
}
.style_two p.lead{
	color: #fff;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 200;
	text-shadow: 3px 3px 0 #000;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.style_two img{
	width: 100%;
}
.style_one .btn, .style_two .btn{
	border: 0;
}