.sf-menu,
.menu-logo{
  margin: 0;
  padding: 15px 0;
}
.sf-menu ul{
  position:absolute;  
  list-style: none;
  top:-999em;
  width:170px;
  display:none;
  background: #171717; 
}
.sf-menu > li{
  position: relative;
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}
.sf-menu > li:last-child{
  margin-right: 0;
  padding-right: 0;
}
.sf-menu > li:last-child a{
  padding-right: 0;
}
.sf-menu > li a{  
  color:#dadada;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 8px;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul{
  top: 55px;   
  left:0px;
  z-index:999;
  text-align: left;
}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
  text-decoration:none;
}
.sf-menu li li a{
  display:block;
  margin:0;
  position:relative;
  text-decoration:none;
  line-height:16px;
  font-size: 13px;
  color:#dadada;
  overflow:hidden;
  padding:10px 22px;  
  text-transform: none;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{
  color:#fff;     
  background-color: #000;
  padding-left: 24px;
  font-size: 13px;
}
.sf-menu li li{
  float:none;
  position:relative;  
}
.sf-menu li li a:hover{
  color: #fff;  
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{
  left: -170px;
  top:0;
}
.header-3 .sf-menu > li:first-child a{
  padding-left: 0;
}