<section id="site-view" class="mainbar">
  <!--Preloader-->
  <div class="preloader">
    <div class="status">&nbsp;</div>
  </div>
  <!--Preloader-->

  <!--Slider Main-->
  <div id="home"></div>

  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>

        <!--Slider 1-->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-delay="6000">

          <div class="slide-overlay"></div>

          <!-- MAIN IMAGE -->
          <img src="../../img/revolution/slider-bg-01.jpg" alt="" data-bgposition="center top" data-bgfit="cover"
               data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!--Layer 1-->
          <div class="tp-caption customin very_large_text"
               data-x="center"
               data-y="320"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="1500"
               data-start="1100"
               data-easing="Power4.easeOut"
               data-splitin="chars"
               data-splitout="none"
               data-elementdelay="0.1"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn"
               style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">JIDOKA
          </div>
          <!--Layer 1-->

          <!--Layer 2-->
          <div class="tp-caption medium_light_white simple-text"
               data-x="center"
               data-y="400"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="2700"
               data-easing="Power3.easeInOut"
               data-splitin="words"
               data-splitout="words"
               data-elementdelay="0.12"
               data-endelementdelay="0.12"
               data-endspeed="300"
               style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
            Automation with a human touch
          </div>
          <!--Layer 2-->

          <!--Layer 3-->
          <div class="tp-caption"
               data-x="center"
               data-y="500"
               data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
               data-speed="2500"
               data-start="3700"
               data-easing="Power4.easeOut"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn"
               style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
            <a data-scroll href="#contact" class="button-border">Contact us</a>
          </div>
          <!--Layer 3-->
        </li>
        <!--Slider 1-->

        <!--Slider 2-->
        <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000" data-fstransition="fade"
            data-fsmasterspeed="1000" data-fsslotamount="7">

          <div class="slide-overlay"></div>

          <!-- MAIN IMAGE -->
          <img src="../../img/revolution/screenshot-video.png" alt="video_forest" data-bgposition="center center"
               data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-fade fadeout fullscreenvideo"
               data-x="0"
               data-y="0"
               data-speed="1000"
               data-start="1100"
               data-easing="Power4.easeOut"
               data-endspeed="1500"
               data-endeasing="Power4.easeIn"
               data-autoplay="true"
               data-autoplayonlyfirsttime="false"
               data-nextslideatend="true"
               data-forceCover="1"
               data-dottedoverlay="twoxtwo"
               data-aspectratio="16:9"
               data-forcerewind="on"
               style="z-index: 2">


            <video class="video-js vjs-default-skin" preload="none" width="100%" height="100%"
                   poster='../../img/revolution/screenshot-video.png' muted>
              <source src='../../video/video.mp4' type='video/mp4'/>
              <source src='../../video/video.webm' type='video/webm'/>
              <source src='../../video/video.ogv' type='video/ogg'/>
            </video>

          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin customout tp-resizeme icons"
               data-x="-70"
               data-y="340"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="700"
               data-easing="Power3.easeInOut"
               style="z-index: 3">
            <a href="#"><i class="fa fa-cloud"></i></a>
          </div>
          <!-- LAYER NR. 2 -->

          <!-- LAYER NR. 3 -->
          <div class="tp-caption customin customout tp-resizeme icons"
               data-x="100"
               data-y="340"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1000"
               data-easing="Power3.easeInOut"
               style="z-index: 3">
            <a href="#"><i class="fa fa-flag"></i></a>
          </div>
          <!-- LAYER NR. 3 -->

          <!-- LAYER NR. 3 -->
          <div class="tp-caption customin customout tp-resizeme icons"
               data-x="270"
               data-y="340"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1300"
               data-easing="Power3.easeInOut"
               style="z-index: 3">
            <a href="#"><i class="fa fa-heart"></i></a>
          </div>
          <!-- LAYER NR. 3 -->

          <!-- LAYER NR. 4 -->
          <div class="tp-caption large_bold_white_25 customin customout tp-resizeme simple-text"
               data-x="450" data-hoffset="0"
               data-y="340"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="600"
               data-start="1100"
               data-easing="Power3.easeInOut"
               data-splitin="words"
               data-splitout="words"
               data-elementdelay="0.12"
               data-endelementdelay="0.12"
               data-endspeed="300"
               data-endeasing="Power4.easeIn" style="z-index: 3">Say Hello to JIDOKA
          </div>
          <!-- LAYER NR. 4-->

          <!-- LAYER NR. 5 -->
          <div class="tp-caption line customin customout tp-resizeme"
               data-x="450" data-hoffset="0"
               data-y="420"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1700"
               data-easing="Power3.easeInOut"
               style="z-index: 3">
          </div>
          <!-- LAYER NR. 5-->

          <!-- LAYER NR. 6-->
          <div class="tp-caption medium_light_white"
               data-x="450"
               data-y="440"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1700"
               data-easing="Power3.easeInOut"
               data-splitin="words"
               data-splitout="words"
               data-elementdelay="0.12"
               data-endelementdelay="0.12"
               data-endspeed="300"
               style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
            Join our team, we are looking for talented people
          </div>
          <!-- LAYER NR. 6-->

        </li>
        <!--Slider 2-->

      </ul>

      <div class="tp-bannertimer"></div>
    </div>
  </div>

  <!--Menu-->
  <section class="menu-logo">
    <div class="container">
      <div class="row">

        <div class="col-md-2">
          <h1><a href="#home">JIDOKA<span class="color">.</span></a></h1>
        </div>
        <div class="col-md-10 right">
          <!--Menu-->
          <ul id="menu" class="sf-menu">
            <li class="selected"><a data-scroll href="#mission-statement">About</a>
              <ul>
                <li><a data-scroll href="#mission-statement">Mission statement</a></li>
                <li><a data-scroll href="#company-values">Company Values</a></li>
              </ul>
            </li>
            <li><a data-scroll href="#customer">Customer offering</a>
              <ul>
                <li>
                  <a data-scroll href="#projects-sw-factory">Projects & Software factory</a>
                  <ul>
                    <li><a href="#projects-sw-factory">Business envisioning</a></li>
                    <li><a href="#projects-sw-factory">Inception</a></li>
                    <li><a href="#projects-sw-factory">Construction</a></li>
                    <li><a href="#projects-sw-factory">Transition</a></li>
                  </ul>
                </li>
                <li><a data-scroll href="#premium-ict">Premium ICT Consultancy</a></li>
                <li>
                  <a data-scroll href="#project-rescue">Project Rescue</a>
                  <ul>
                    <li><a data-scroll href="#project-rescue">Requirements rescue</a></li>
                    <li><a data-scroll href="#project-rescue">Architecture rescue</a></li>
                  </ul>
                </li>

                <li>
                  <a data-scroll href="#partners">Partners</a>
                  <ul>
                    <li><a data-scroll href="#partners">Google Apps</a></li>
                    <li><a data-scroll href="#partners">Atlassian</a></li>
                    <li><a data-scroll href="#partners">Xamarin</a></li>
                    <li><a data-scroll href="#partners">Amazon Web Services</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a data-scroll href="#employee">Employee offering</a>
              <ul>
                <li><a data-scroll href="#employee">HR philosophy</a></li>
                <li><a data-scroll href="#employee">Profile of the ideal employee</a></li>
                <li><a data-scroll href="#employee">Career tracks</a></li>
                <li><a data-scroll href="#employee">Knowledge building initiatives</a></li>
                <li><a data-scroll href="#employee">Remuneration & Profit sharing</a></li>
                <li><a data-scroll href="#employee">Fun building initiatives </a></li>
              </ul>
            </li>
            <!--<li><a data-scroll href="#jobs">Jobs</a>
                <ul>
                    <li><a data-scroll href="#jobs">Vacancies</a></li>
                    <!--
                    <li><a data-scroll href="#jobs">Procedure</a></li>
                    -->
            <!--</ul>
        </li>-->
            <li><a data-scroll href="#contact-section">Contact</a>
              <ul>
                <li><a data-scroll href="#contact-section">Map</a></li>
                <li><a data-scroll href="#contact">Contact</a></li>
              </ul>
            </li>
          </ul>
          <!--Menu-->
        </div>

      </div>
    </div>
  </section>
  <!--Menu-->

  <!-- Modal -->
  <div id="leadModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <img src="../../img/jidoka_small.png"/>
        </div>

        <div class="modal-body">
          <h4 class="modal-title text-center">Want to know more about Jidoka? Subscribe to our newsletter.</h4>
          <br/>

          <form name="insightly_web_to_lead" id="insightly_web_to_lead"
                action="https://ovudffz5.insight.ly/WebToLead/Create" method="post">
            <input type="hidden" name="formId" value="2TpvNLar8OBVd6ip2S00Ng=="/>

            <div class="form-group">
              <label for="insightly_firstName">First Name *</label>
              <input class="form-control input-sm" id="insightly_firstName" name="FirstName" type="text"
                     placeholder="First Name"
                     autofocus required/>
            </div>
            <div class="form-group">
              <label for="insightly_lastName">Last Name *</label>
              <input class="form-control input-sm" id="insightly_lastName" name="LastName" type="text"
                     placeholder="Last Name" required/>
            </div>
            <div class="form-group">
              <label for="insightly_organization">Organization </label>
              <input class="form-control input-sm" id="insightly_organization" name="OrganizationName"
                     type="text" placeholder="Organization"/>
            </div>
            <div class="form-group">
              <label for="insightly_Email">Email *</label>
              <input class="form-control input-sm" id="insightly_Email" name="email" type="email"
                     placeholder="Email Address" required/>
            </div>

            <input type="hidden" id="insightly_ResponsibleUser" name="ResponsibleUser" value="1053454"/>
            <input type="hidden" id="insightly_LeadSource" name="LeadSource" value="780812"/>

            <button type="submit" class="btn btn-block btn-primary mar-top-30" id="modal-submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->

  <!--Layout Theme Options-->
  <div id="layout">

    <!--About-->
    <section class="paddings about effect" id="mission-statement">
      <div class="container">
        <div class="row">

          <!--Info-->
          <div class="col-md-12 col-sm-12 about-content">

            <!-- Mission Statement -->
            <div class="row editable">
              <h1 class="center">{{::vm.missionStatement[0].title}} <br/>
                <span class="color">{{::vm.missionStatement[0].subtitle}}</span>
              </h1>
              <div class="top" ng-bind-html="vm.missionStatement[0].text_block"></div>
            </div>
            <!-- Mission Statement -->

            <div class="row paddings" id="company-values">
              <div class="'row">
                <div class="center  main-title">
                  <h1><span class="color">Company Values</span></h1>
                </div>
              </div>

              <div class="col-md-6">
                <div class="items-about">
                  <div class="row top">
                    <div ng-repeat="companyValue in vm.companyValues" ng-if="$even">
                      <div class="item-simple effect delay1">
                        <div class="square-font">
                          <a href="#company-values"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="item-content">
                          <h4>{{vm.companyValues[$index].value}}</h4>
                          <p class="text-overflow">{{vm.companyValues[$index].description}}</p>
                        </div>
                      </div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="items-about">
                  <div class="row top">
                    <div ng-repeat="companyValue in vm.companyValues" ng-if="$odd">
                      <div class="item-simple effect delay2">
                        <div class="square-font">
                          <a href="#company-values"><i class="fa fa-eye"></i></a>
                        </div>
                        <div class="item-content">
                          <h4>{{vm.companyValues[$index].value}}</h4>
                          <p class="text-overflow">{{vm.companyValues[$index].description}}</p>
                        </div>
                      </div>
                      <div class="line"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!--Info-->

        </div>
      </div>
    </section>
    <!--About-->
    <section id="customer"></section>
  </div>
  <!--Services-->
  <section id="projects-sw-factory" class="paddings bg-color effect">
    <div class="container">

      <div class="row">
        <div class="center main-title">
          <h1><span class="color">{{::vm.projectPhasesHeader[0].title}}</span></h1>
          <p ng-bind-html="::vm.projectPhasesHeader[0].description"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="team">

            <!-- Because owl-carousel has trouble with ng-repeats I have to make these items static -->

            <!--Item One-->
            <li>
              <!--Item Hover-->
              <div class="item-hover">
                <img ng-src="{{vm.host + vm.projectPhases[0].image.url}}" alt="">

                <div class="title-hover">
                  <p></p>
                </div>

                <div class="text-hover-simple">
                  <h4>{{::vm.projectPhases[0].title}}</h4>
                </div>

                <div class="bg-overflow"></div>
              </div>
              <!--Item Hover-->

              <div class="team-content project-phase">
                <p>{{::vm.projectPhases[0].description}}</p>
              </div>
            </li>
            <!--Item One-->

            <!--Item Two-->
            <li>
              <!--Item Hover-->
              <div class="item-hover">
                <img ng-src="{{vm.host + vm.projectPhases[1].image.url}}" alt="">

                <div class="title-hover">
                  <p></p>
                </div>

                <div class="text-hover-simple">
                  <h4>{{::vm.projectPhases[1].title}}</h4>
                </div>

                <div class="bg-overflow"></div>
              </div>
              <!--Item Hover-->

              <div class="team-content project-phase">
                <p>{{::vm.projectPhases[1].description}}</p>
              </div>
            </li>
            <!--Item Two-->

            <!--Item Three-->
            <li>
              <!--Item Hover-->
              <div class="item-hover">
                <img ng-src="{{vm.host + vm.projectPhases[2].image.url}}" alt="">

                <div class="title-hover">
                  <p></p>
                </div>

                <div class="text-hover-simple">
                  <h4>{{::vm.projectPhases[2].title}}</h4>
                </div>

                <div class="bg-overflow"></div>
              </div>
              <!--Item Hover-->

              <div class="team-content project-phase">
                <p>{{::vm.projectPhases[2].description}}</p>
              </div>
            </li>
            <!--Item Three-->

            <!--Item Four-->
            <li>
              <!--Item Hover-->
              <div class="item-hover">
                <img ng-src="{{vm.host + vm.projectPhases[3].image.url}}" alt="">

                <div class="title-hover">
                  <p></p>
                </div>

                <div class="text-hover-simple">
                  <h4>{{::vm.projectPhases[3].title}}</h4>
                </div>

                <div class="bg-overflow"></div>
              </div>
              <!--Item Hover-->

              <div class="team-content project-phase">
                <p>{{::vm.projectPhases[3].description}}</p>
              </div>
            </li>
            <!--Item Four-->

          </ul>
        </div>

      </div>
    </div>
  </section>
  <div class="line"></div>
  <!--Team-->
  <!--Services-->

  <!--Bar Info-->
  <section class="paddings bar-section effect" id="premium-ict">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><span class="color">{{::vm.premiumConsultancy[0].title}}</span></h2>
          <div class="top" ng-bind-html="::vm.premiumConsultancy[0].text_block"></div>
        </div>

        <div class="col-md-6">
          <div ng-bind-html="vm.trustAsHtml(vm.premiumConsultancy[0].video.html)"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="line"></div>
  <!--Bar Info-->

  <!--Team-->
  <section id="project-rescue" class="paddings bg-color effect">
    <div class="container">
      <div class="'row">
        <div class="center  main-title">
          <h1><span class="color">Project rescue</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1 class="center"><span class="color">{{::vm.projectRescue[0].title}}</span></h1>
          <div ng-bind-html="::vm.projectRescue[0].text_block"></div>
        </div>

        <div class="col-md-6">
          <h1 class="center"><span class="color">{{::vm.projectRescue[1].title}}</span></h1>
          <div ng-bind-html="::vm.projectRescue[1].text_block"></div>
        </div>
      </div>
    </div>
  </section>
  <!--Team-->

  <section class="paddings bar-section effect" id="partners">
    <div class="container">
      <div class="'row">
        <div class="center  main-title">
          <h1><span class="color">Partners</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="partner in vm.partners">
          <h2>{{partner.title}}</h2>
          <div class="top" ng-bind-html="partner.description"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="line"></div>

  <!--Testimonials-->
  <section class="paddings bg-color effect" id="employee">
    <div class="container">
      <div class="'row">
        <div class="center  main-title">
          <h1><span class="color">Employee offering</span></h1>
        </div>
      </div>

      <div class="row" ng-repeat="empOffer in vm.employeeOfferings" ng-if="$even">
        <div class="col-md-6 small">
          <h1><span class="color">{{vm.employeeOfferings[$index].title}}</span></h1>
          <div ng-bind-html="vm.employeeOfferings[$index].description"></div>
        </div>
        <div class="col-md-6 small">
          <h1><span class="color">{{vm.employeeOfferings[$index + 1].title}}</span></h1>
          <div ng-bind-html="vm.employeeOfferings[$index + 1].description"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="line"></div>

  <!--<section class="paddings effect" id="jobs">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                    <h1><span class="color">Vacancies</span></h1>
                      <div>
                        <h2><span class="color"><strong>Gemotiveerde OFFICE ASSISTANT (M/V) met ambitie!</strong></span></h2>
                        <div>
                            Momenteel kijken wij uit naar een gemotiveerde Office Assistant (M/V) die ambitie heeft om verder mee te
                            groeien met ons bedrijf. Denk je over voldoende skills te beschikken om ons te kunnen overtuigen?
                        </div>
                        <div>
                            <h3><span class="color">Wat mag je o.a. verwachten in je job?</span></h3>
                            <ul>
                                <li>Het First Point Of Contact zijn voor onze consultants</li>
                                <li>Allround ondersteuning naar het management team toe</li>
                                <li>Administratieve verwerking van timesheets, facturen, ...</li>
                                <li>Professioneel onthaal van de bezoekers</li>
                                <li>Assisteren in de HR, recruitment en sales processen</li>
                                <li>Updaten van onze social media & website</li>
                                <li>Organiseren van interne/externe events</li>
                            </ul>

                            In deze functie rapporteert u rechtstreeks aan de CEO.
                        </div>
                        <div>
                            <h3><span class="color">Wat verwachten we van jou?</span></h3>
                            <ul>
                                <li>Professionele Bachelor Office Management (of een aanverwante richting)</li>
                                <li>Talenkennis; Nederlands, Engels en Frans</li>
                                <li>Optimaal faciliteren van je collega’s</li>
                                <li>Interesse in technologie en aanverwante topics</li>
                                <li>Nauwgezet en sterk organisatorisch</li>
                                <li>Vlot aanpassingsvermogen en flexibel</li>
                                <li>Vriendelijk en enthousiast</li>
                            </ul>
                        </div>
                        <div>
                            <h1><span class="color">Wat hebben wij je te bieden?</span></h1>
                            <ul>
                                <li>Een jonge bedrijfscultuur met veel ruimte voor afwisseling en autonomie</li>
                                <li>Een duidelijk carrièrepad waarin we je graag begeleiden naar Office Manager toe</li>
                                <li>Samenwerken met gemotiveerde en ervaren collega's</li>
                                <li>Een modern en ruim kantoor gelegen in de groene omgeving van Mol</li>
                                <li>Een marktconform salarispakket met uitgebreide extralegale voordelen</li>
                            </ul>
                        </div>
                        <div>
                            <p>Volgende stap?</p>

                            <strong><span class="color">Contacteer ons via <a href="mailto:info@jidoka.be">info@jidoka.be</a> en stuur ons je CV en motivatiebrief !</span></strong>
                        </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <!--
                  <h1>Procedure</h1>
                  <p>
                      <li>Contact + upload your CV</li>
                      <li>Personal interview</li>
                      <li>Screening - Feedback within 48 business hours</li>
                  </p>
                  -->
  <!--</div>
  </div>

  <div class="line"></div>

  </section>-->

  <section class="paddings contact effect" id="contact-section">
    <!-- Google Map -->
    <div id="map"></div>
    <!-- End Google Map-->

    <!--Contact Us-->
    <section class="paddings contact effect" id="contact">
      <div class="container">

        <div class="center main-title">
          <h1>Contact us & <span class="color">Say Hello!</span></h1>
          <div class="line top-big"></div>
        </div>

        <div class="row top-big">

          <div class="col-md-4">
            <h2>Our Office</h2>
            <ul class="list-info top-big">

              <li>
                <i class="fa fa-clock-o"></i>
                <p></p>
                <h4 class="top">{{::vm.contactDetails[0].title}}</h4>
                <p class="text-overflow">{{::vm.contactDetails[0].first_line}} <br/> {{::vm.contactDetails[0].second_line}}</p>
              </li>

              <li>
                <i class="fa fa-home"></i>
                <p></p>
                <h4 class="top">{{::vm.contactDetails[1].title}}</h4>
                <p class="text-overflow">{{::vm.contactDetails[1].first_line}}<br/> {{::vm.contactDetails[1].second_line}}</p>
              </li>

              <li>
                <i class="fa fa-phone"></i>
                <p></p>
                <h4 class="top">{{::vm.contactDetails[2].title}}</h4>
                <p class="text-overflow">{{::vm.contactDetails[1].first_line}}</p>
              </li>

            </ul>
          </div>

          <div class="col-md-8">
            <h3>We are always interested in meeting knowledgable people, leave a message and we will come back
              to you</h3>

            <!--Form Contact-->
            <form class="form-contact" action="/src/client/php/send-mail-contact.php">

              <div class="form_contact">
                <label>Name *</label>
                <input type="text" class="name form-control" required="required" name="Name">

                <label>Email *</label>
                <input type="email" class="email form-control" required="required" name="Email">

                <label>Subject</label>
                <input type="text" class="subject form-control" name="subject">

                <label>Message *</label>
                <textarea class="form-control" required="required" name="Message"></textarea>
                <div class="clearfix"></div>
              </div>

              <label class="custom">&nbsp;</label>
              <input type="submit" class="button" value="Submit">

              <div class="result"></div>
            </form>
            <!--Form Contact-->

          </div>
        </div>

      </div>
    </section>
  </section>
  <!--Contact Us-->

  <!--Footer-->
  <footer id="footer-2">
    <div class="container">
      <div class="row">

        <!--About & social-->
        <div class="col-md-4">
          <h3>Find Us Online</h3>
          <div class="line"></div>
          <ul class="social">
            <li data-toggle="tooltip" data-placement="top" title="twitter">
              <a href="https://twitter.com/jidoka_info"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <!--About & social-->

        <!--Blog-->
        <div class="col-md-4">
          <h3>Recent Post</h3>
          <div class="line"></div>
          <ul class="items-blog">

          </ul>
        </div>
        <!--Blog-->

        <!--Tweets-->
        <div class="col-md-4">
          <h3>Recent Tweets</h3>
          <div class="line"></div>

        </div>
        <!--Tweets-->

      </div>
      <div class="line topf"></div>
      <p class="center">© 2016</p>
    </div>
  </footer>
  <!--Footer-->

  <!--Slider Revolution-->
  <script type="text/javascript" src="/src/client/js/revolution/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/src/client/js/revolution/jquery.themepunch.revolution.js"></script>

  <!--FUNCTIONS-->
  <script type="text/javascript" src="/src/client/js/main.js"></script>
</section>
