
.tinynav{ 
	display: none;
}

/* ---------------------------------------------------------------------- */
/*	1920px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1920px) {
	.bg-moving .bg-dark{
		padding-top: 4%;
	}
	.items-gallery-filter li{
		width: 24.9%;
	}
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 320px 70px;*/
	}
	
}

/* ---------------------------------------------------------------------- */
/*	1680px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1680px) {
	.testimonials .bg-i.right{
		right: 262px;
	}
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 200px 70px;*/
	}
}

/* ---------------------------------------------------------------------- */
/*	1600px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1600px) {
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 180px 70px;*/
	}
	
}


/* ---------------------------------------------------------------------- */
/*	1440px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1440px) {
	.testimonials .bg-i.right{
		right: 143px;
	}
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 90px 70px;*/
	}
}

/* ---------------------------------------------------------------------- */
/*	1366px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1366px) {
	.bg-moving .bg-dark{
		padding: 6%;
	}
	.items-gallery-filter li{
		width: 24.9%;
	}
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 45px 70px;*/
	}
}

/* ---------------------------------------------------------------------- */
/*	1280px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1280px) {
	.about{
		/* TODO : find image */
		/*background: url(../img/person.png) no-repeat 30px 70px;*/
	}
	.testimonials .bg-i.right{
		right: 67px;
	}
	.items-gallery-filter li{
		width: 24.9%;
	}
}
/* ---------------------------------------------------------------------- */
/*	1024 Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1024px) {
	.col-sm-12{
		width: 100%;
	}
	.about{
		background: none;
	}


}

/* ---------------------------------------------------------------------- */
/*	Mobile Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 980px){
	#menu{
		display: none;
	}
	.tinynav{
		top: -31px;
		margin-left: 30%;
		right: 0;
	}
	.header-1 .tinynav,
	.header-3 .tinynav {
		top: 0;
	} 
	.header-3 .tinynav{
		margin-left: 0;
	}
	.about,
	#services{
		text-align: center;
	}
	.avatar img{
		height: 174px;
	}
	.contact {
		text-align: center;
	}
	.contact i{
		float: none;
	}
	.contact .line{
		margin-bottom: 20px;
	}
	.form-contact label{
		float: none;
		width: 100%;
	}
	.name.form-control, .email.form-control, .subject.form-control {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	textarea.form-control{
		margin: 0 auto;
	}
	.copry p,
	.social.right{
		text-align: center;
	}
	.list-info{
		margin-right: 0;
	}
	.color-item{
		padding: 0px 0 40px 0;
	}
	.color-item.top-big{
		margin-top: 60px;
	}
	footer h3{
		margin-top: 30px;
	}
	#footer-3 .copry,
	#footer-3 .right{
		text-align: center;
	}
	.content-post .circle {
		top: 76px;
	}
	.content-post .new-about {
		top: 60px;
	}
	.single-post .vertical-line{
		display: none;
	}
	.comments-about-post .avatar img{
		width: 137px;
	}
	.comments-about-post h2,
	.form-contact{
		text-align: center;
	}
	aside {
		margin-top: 200px;
	}
	#news aside{
		margin-top: 0;
	}
	.flexslider.paddings{
		padding-top: 0;
	}
	.flexslider .slides .style_one img{
		display: none;
	}
	.bg-moving .bg-dark{
		padding: 6% 0;
	}
	.square-font{
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.items-about {
		margin-right: 0;
	}
	.about-content{
		padding-left: 0;
	}
	.text-hover-simple{
		top: 240px
	}
	.pricing{
		max-width: 350px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.tp-caption.icons{
		width: 100px;
		height: 100px;
		line-height: 140px;
	}
	.tp-caption.icons i{
		font-size: 3em;
	}
	.tp-caption.line{
		width: 50%;
	}
}

/* ---------------------------------------------------------------------- */
/*	768px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 768px){
	.tlt span {
		font-size: 45px;
	}
	.error-page{
		padding-top: 30%;
	}
	.content-post{
		padding-left: 0;
	}
	.content-post .circle{
		left: 0;
	}
	.content-post .date-number{
		left: 30px;
		width: 95%;
	}
	.content-post .new-about{
		top: 80px;
	}
	.single-post .main_slide,
	.text-hover-simple{
		display: inline-block;
		width: 100%;
	}
	.col-smm-12{
		width: 100%;
	}
	.items-about {
		padding: 0 40px;
	}
	footer{
		text-align: center;
	}
	.items-blog img{
		float: none;
	}
	footer .line{
		margin: 20px 20px 30px 0;
	}
	.text-hover-simple {
		top: 206px;
	}
	.team .text-hover-simple {
		top: 237px;
	}

	.tp-caption.icons{
		width: 70px;
		height: 70px;
		line-height: 130px;
	}
	.tp-caption.icons i{
		font-size: 50px;
	}
}


/* ---------------------------------------------------------------------- */
/*	685px Version
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 685px) {
	.tinynav{
		top: -35px;
		right: 20px;
		width: 60%;
	}
	.avatar img{
		margin-left: 24px;
	}
	.list-news{
		padding: 0 40px;
	}
	.header-1 .tinynav {
		margin-left: 25%;
	}
	.header-3 .tinynav {
		margin-left: 20px;
	}
	.content-post .date-number{
		left: 0;
	}
	.comments-about-post .avatar{
		text-align: center;
		margin-bottom: 20px;
	}
	.items-gallery-filter li {
		width: 49.9%;
	}
	.items-gallery-filter .text-hover-simple, .items-gallery-filter .title-hover {
		top: 153px;
	}
	.about{
		top: 82px;
	}
	.text-hover-simple {
		top: 183px;
	}
	.team .text-hover-simple {
		top: 200px;
	}
	.main-title p {
		font-size: 16px;
		line-height: 33px;
	}
	.main-title h1, .about h1 {
		font-size: 33px;
		line-height: 43px;
	}
	.item-content,
	.about-content{
		padding-right: 0;
	}
	.effect{
		opacity: 1;
	}
	.animated {
	  -webkit-animation-duration: 0;
	  animation-duration: 0;
	  -webkit-animation-fill-mode: none;
	  animation-fill-mode: none;
	}
	.delay1, .delay2, .delay3, .delay4, .delay5, .delay6, .delay7{
		animation-delay:0;
		-webkit-animation-delay:0;
	}
	#map{
		display: none;
		height: 0;
	}
	.paddings.contact{
		padding-top: 0;
	}
	.tp-caption .button-border {
		font-size: 13px;
		padding: 0 15px;
	}

}

/* ---------------------------------------------------------------------- */
/*	600px Version
/* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 600px) {
	.slider{
		display: none;
	}	
	.bg-moving{
		height: 150px;
	}
	.bg-moving .bg-dark{
		padding-top: 6%;
	}
	.text-hover-simple {
		top: 150px;
	}
	.team .text-hover-simple {
		top: 167px;
	}
	.testimonials li figure{
		float: none;
		margin-bottom: 20px;
		width: 50%;
		margin: 0 auto;
	}

	.tp-caption.icons{
		line-height: 170px;
	}
}

/* ---------------------------------------------------------------------- */
/*	568px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 568px) {
	.col-smm-12{
		width: 50%;
	}
	textarea.form-control{
		width: 450px;
	}
	.about,
	.services{
		padding: 0 30px;
	}
	.items-about{
		padding: 0;
	}
	.new-about{
		top: 102px;
	}
	.new-about a{
		margin-bottom: 50px;
	}
	.title-hover{
		bottom: 75px;
	}
	.team .text-hover-simple {
		top: 153px;
	}
	.text-hover-simple h4{
		line-height: 34px;
	}
}


/* ---------------------------------------------------------------------- */
/*	480px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 480px) {	
	.col-xxs-12{
	    width: 100%;
	}
	.tinynav{
		width: 54%;
	}
	.flexslider .bg-text2{
		display: none;
	}
	.bg-img{
		height: 250px;
	}
	.slides li:first-child{
		padding: 0;
	}
	.flexslider.bg-moving{
		height: 440px;
	}
	.title-hover{
		padding: 5px 16px;
	}
	.text-hover-simple {
		top: 114px;
		left: 9px;
	}
	.text-hover-simple h4 {
		font-size: 28px;
		line-height: 30px;
	}
	.team .title-hover {
		bottom: 111px;
	}
	.name.form-control, .email.form-control, .subject.form-control,
	textarea.form-control{
		width: 400px;
	}
	.text-hover-simple h4 {
		font-size: 25px;
	}
	.tp-caption.icons{
		width: 50px;
		height: 50px;
		line-height: 150px;
	}
}


/* ---------------------------------------------------------------------- */
/*	384px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 384px) {
	.menu-logo.is-sticky,
	.menu-logo{
		height: 125px;
	}
	.tinynav{
		margin-top: 45px;
		width: 91%;
	}
	.about h1, .news h1, .testimonials h1, .gallery h1, .team h1{
		font-size: 33px;
	}
	.sponsors li{
		display: block;
		margin-bottom: 20px;
	}
	.text-hover-simple{
		display: block;
	}
	.name.form-control, .email.form-control, .subject.form-control,
	.form-contact .form-control{
		width: 310px;
	}
	.header-1 .tinynav{
		margin-left: 50px;
		margin-top: 10px;
	}
	.header-3 .tinynav{
		margin-top: 10px;
	}
	.error-page .bg-text2,
	.comments-about-post .box i{
		display: none;
	}
	.content-post .new-about,
	.content-post .tags {
		top: 110px;
	}
	.copry .sf-menu.left{
		text-align: center;
	}
	.items-gallery-filter .title-hover{
		top: 153px;
	}
	.items-gallery-filter li {
		width: 100%;
	}
	.style_two h1 span{
		font-size: 45px;
		line-height: 55px;
	}
	.team .text-hover-simple {
		top: 202px;
	}
	.pricing {
		max-width: 300px;
	}

	.tp-caption .button-border {
		font-size: 11px;
	}
	.tp-caption.icons{
		line-height: 180px;
	}
}

/* ---------------------------------------------------------------------- */
/*	320px Version
/* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 320px) {
	.name.form-control, .email.form-control, .subject.form-control, .form-contact .form-control {
		width: 281px;
	}
	.content-post .new-about, .content-post .tags {
		top: 130px;
	}
	.text-hover-simple {
		top: 160px;
	}
	.team .text-hover-simple {
		top: 145px;
	}
}

