@charset "utf-8";

/* ============================== 
	- Template Name: Stanum - Html5/css3 Creative Bootstrap Template
	- Autor: Iwthemes
	- Email: support@iwthemes.com
	- Name File: style.css
	- Version 1.0
	- Website: http://www.iwthemes.com 
	- Copyright: (C) 2014
=================================

-------------------------
	Stylesheet Guide
-------------------------

01. Import styles
	-  bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).
	-  bootstrap-theme.css	
	-  Lightbox
	-  ScrollBar
	-  FontAwesome
	-  Carrousel
	-  Animates
	-  Transitions
	-  Nav Menu
	-  Slider Images
	-  Theme Options
	-  Fonts Google
	
02. Basic Elements
	-  Standar Styles	

0.3.  Slider

0.4.  GENERAL STRUCTURE
	-  Menu Logo
	-  About
	-  News
	-  Testimonials
	-  Gallery
		-Filters
	-  Team
	-  Contact
	-  Copry & Social
	-  Pricing Tables
	-  Footer
	-  Twitter
	-  toTop
	
*/

/* ---------------------------------------------------------------------- */
/*	Import styles
/* ---------------------------------------------------------------------- */

/* bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).*/
@import url("bootstrap/bootstrap.css");
@import url("bootstrap/bootstrap-theme.css");

/*jquery.fancybox.css  - Lightbox*/
@import url("../js/fancybox/jquery.fancybox.css?v=2.1.5.css");

/*Icons*/
@import url("icons/font-awesome.css");

/*Carousel*/
@import url("carousel/carousel.css");
@import url("carousel/owl.theme.css");

/*Anitmations*/
@import url("animations/animate.css");

/*Transitions*/
@import url("transitions.css");

/*Nav Menu*/
@import url("nav/fish.css");

/*Nav Menu*/
@import url("transitions.css");

/*Slider Images*/
@import url("slider-images/responsiveslides.css");
@import url("slider-2/flexslider.css");
@import url("slider-2/custom-slider.css");
@import url("slider-main/grid.css");

/*Slider Images*/
@import url("revolution/style.css");
@import url("revolution/settings.css");

/*Style Switcher*/
@import url("skins/theme-options.css");
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);



/* STANDAR STYLES --------------------------------------------------------*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;	
	line-height:25px;
	color:#575757;
	background: #fff;
	text-rendering: optimizeLegibility;
	background: url(../img/bg-theme/3.png);
}
a{	
	color: #575757;
}
a:hover{
	text-decoration: none;	
	color: #fff;
}
p{
	line-height: 27px;
	font-weight: lighter;
	color: #000000;
	word-wrap: break-word;
}
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
	line-height: 30px;
	color: #777777;
	margin: 0;	
}
img{
	max-width: 100%;
}
.clearfix{
	width:1px;
	height:1px;	
	display:block;
	clear:both;
	content:" , ";
}
.alert-success{
	width: 40%;
	font-size: 13px;
	line-height: 24px;
	padding: 7px;
	margin-top: 10px;
}
.result{
	margin-left: 73px;
	margin-top: 20px;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.top{
	margin-top: 20px;
}
.top-big{
	margin-top: 50px;
}
.line{
	width: 100%;
	height: 1px;
	background-color: #ededed;
}
.button{
	color: #fff;
	padding: 6px 18px;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	border: none;
	border-radius: 3px;
}
cite{
	font-size: 14px;
	color: #a7a7a7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
blockquote{
	font-family: 'Source Sans Pro', 'sans-serif';
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 33px;
	font-style: italic;
}
iframe{
	border: none;
}
.text-overflow {
	overflow: hidden !important;
}

/* Preloader --------------------------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.status {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}

/* Popover ------------------------------------------------------------------*/
.popover{
	border-radius: 0;
	text-align: left;
	z-index: 10;
}
.popover-title{
	font-weight: 400;
	background-color: transparent;
	border-bottom: 0 none;
	line-height: 0;
	padding: 23px 14px 8px 20px;
	font-size: 16px;
}
.popover-content{
	font-style: italic;
	line-height: 22px;
	font-size: 14px;
	font-weight: lighter;
	color: #9a9a9a;
	word-wrap: break-word;
	padding: 9px 20px 15px 20px;
}
.tooltip-inner {
	padding: 9px;
	font-size: 11px;
	background-color: #f6f4f4;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}
.effect{
	opacity: 0;
}

/* Slider Main ------------------------------------------------------------------*/
.main-title{
	width: 90%;
	margin: 0 auto;
}
.main-title h1,
.about h1{
	font-size: 38px;
	line-height: 50px;
}
.bg .main-title .color{
	color: #fff;
}
.bg .main-title h1,
.bg .main-title p{	
	color: #f3f2f2;
}
.bg .main-title h1{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.main-title p{
	font-size: 18px;
	line-height: 35px;
}

.paddings{
	padding-top: 100px;
	padding-bottom: 100px;
}
.paddings-header{
	padding-top: 150px;
	padding-bottom: 100px;
}
.top-header{
	padding-top: 140px;
}
iframe{
	width: 100%;
	height: 300px;
}
.fa-check{
	color: #19bc9b;
}
.fa-times{
	color: #fe5742;
}

.blog,
.testimonials,
.team,
.items-gallery-carousel,
.list-sponsors,
.tweet_list,
#slide-team,
.items-blog,
.list-info,
.sf-menu li:hover ul, .sf-menu li.sfHover ul,
.social,
.pricing-carousel,
.items-gallery-filter,
.tags,
.categories{
	padding: 0;
	margin: 0;
}
.blog li,
.testimonials li,
.team li,
.items-gallery-carousel li,
.list-sponsors li,
.tweet_list li,
#slide-team li,
.items-blog li,
.list-info li,
.sf-menu li:hover ul, .sf-menu li.sfHover ul,
.social li,
#pricing-carousel li,
.items-gallery-filter li,
.categories li{
	list-style: none;
}

/* Slider ------------------------------------------------------------------*/
.slider,
.slider-404{	
	overflow: hidden;
}
.slider,
.bg-moving-full,
.slider-404{
	position: relative;
}
.slider.header-4 .bg-dark{
	padding-top: 8%;
}
.bg-moving{
	width: 100%;
	height: 250px;
	position: relative;
}
.bg-moving-full{
	height: 100%;
}
.bg-moving-1{	
	background: url(../img/moving/01.jpg);
}
.bg-moving-2{	
	background: url(../img/moving/02.jpg);
}
.bg-moving-3{
	background: url(../img/moving/03.jpg);
}
.bg-moving-4{
	background: url(../img/moving/04.jpg);
}
.bg-moving .bg-dark{
	padding-top: 6%;	
}
.bg-dark{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: #fff;
	padding-top: 10%;
}
.tlt span{
	font-size: 59px;
	line-height: 70px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 13px 5px 5px rgba(0, 0, 0, 1);
}
.bg-dark h2{
	font-weight: 400;
	color: #dadada;
	line-height: 42px;
}
.tlt-2 span{
	font-weight: 400;
	color: #dadada;
	font-size: 38px;	
	line-height: 42px;
}
.bg-text1,
.bg-text2{
	background: rgba(0,0,0,0.6);
	width: auto;
	padding: 20px;
	margin: 0 auto;
}
.bg-text2{
	width: 60%;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
} 
.bg-text2.tlt-2{
	width: 75%;
	padding: 15px;
}
.bg-color{
	background-color: #f7f7f7;
}
.error-page .bg-text2{
	width: 100%;
}
.error-page .bg-text1{
	width: 70%;
}
.slide-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
}

/* Menu Logo --------------------------------------------------------------*/
.copry,
footer,
.menu-logo{
	background: #171717;
}
.logo{
	padding-left: 0;
}
.menu-logo h1 a{
	font-size: 35px;
	color: #fff;
	line-height: 45px;
}
.menu-logo.is-sticky{
	width: 100%;
	z-index: 999;
}
.sf-menu.copry{
	font-size: 14px;
}
#menu li a:hover{
	color: #fff;
}

/* About ------------------------------------------------------------------*/
.items-about{
	margin-right: 20px; 
}
.items-about i{
	font-size: 35px;
	line-height: 24px;
	border: none;
	color: #9a9a9a;
}
.items-about h4{
	font-weight: 400;
}
.items-about .line{
	margin: 30px 0;
}
.item-simple{
	min-height: 128px;
}
.item-simple:hover{
	cursor: pointer;
}
.items-about .item-simple:hover i{
	color: #9a9a9a;
}
.items-about .item-simple:hover .square-font,
.items-about .square-font.active{
	border: 0;
}
.items-about .item-simple:hover .square-font i,
.items-about .square-font.active i{
	color: #fff;
}
.item-content{
	padding-right: 5px;
}
.item-content h4{
	line-height: 10px;
	padding-bottom: 10px;
}
.about-content{
	padding-left: 30px;
}
.square-font{
	width: 68px;
	height: 68px;
	border-width: 1px;
	border: 2px solid #afafaf;
	display: inline-block;
	padding-top: 22px;
	text-align: center;
	float: left;
	margin-right: 15px;
}

/* News -------------------------------------------------------------------*/
.news,
.new{
	position: relative;
}
.new{
	padding: 15px 30px 25px 30px;
	background-color:rgba(255,255,255,0.9);
}
.vertical-line{
	position: absolute;
	width: 1px;
	height: 742px;
	background-color: #dadada;
	top: 0;
	left: 98px;
	z-index: 0;
}
.layout-boxed .vertical-line{
	left: 29px;
}
.date{
	position: relative;
}
.circle{
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 50%;
	top: 13px;
	left: 0px;
	z-index: 2;
}
.date-number{
	border: 1px solid #dadada;
	padding: 5px 15px;
	border-radius: 3px;
	position: absolute;
	left: 35px;
}
.date-number p{
	font-size: 14px;
	margin: 0;
	display: inline-block;
	margin-right: 15px;
}
.new-about{
	position: relative;
	left: 30px;
	top: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
}
.new-about a{
	font-weight: 500;
	font-size: 14px;
	display: block;
}
.main_slide img{
	border: 1px solid #dadada;
	margin-bottom: 25px;
}
#news aside{
	padding: 30px;
}
.pagination > li > a, .pagination > li > span{
	background-color: rgba(255,255,255,0.9);
	color: #9a9a9a;
}


/* Blog Home ---------------------------------------------------------------*/
.blog{
	margin-top: -10px;
}
.blog li{
	padding: 50px 55px 55px 55px;
}
.blog h2,
.blog h2 a{
	color: #fff;
	font-weight: 400;
}
.blog h2{
	line-height: 27px;
}
.blog h2 a:hover,
.blog .date-number a:hover{
	opacity: 0.8;
}
.blog .date-number a{
	font-weight: 400;
}
.blog .date-number{
	position: relative;
	border: none;
	left: 0;
	padding: 0;
	margin: 10px 0;
}
.blog .date-number p{
	color: #fff;
}
.blog .date-number p{
	display: inline-block;
}
.button-border{
	border: 1px solid #fff;
	border-width: 1px;
	color: #fff;
	padding: 9px 15px;
	font-size: 14px;
}
.button-border:hover{
	background-color: #fff;
}
.blog-content{
	margin-bottom: 25px;
}
.blog-content p{
	color: #fff;
}
#news.paddings{
	padding-top: 0;
	padding-bottom: 0;
}
.news-blog figure img{
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* Single Post----------------------------------------------------------------*/
.single-post{
	position: relative;
	margin-bottom: 100px;
}
.single-post .main_slide img{
	width: 100%;
}
.single-post .main-title h1{
	font-size: 24px;
	line-height: 30px;
}
.single-post .main-title{
	width: 100%;
}
.single-post .vertical-line{
	left: 0;
	height: 1100px;
}
.content-post{
	padding-left: 30px;
	position: relative;
}
.content-post .circle{
	top: 63px;
	left: 33px;
}
.content-post .date-number{
	left: 68px;
	width: 90%;
	padding: 5px 15px;
}
.content-post .new-about{
	padding-right: 20px;
	left: 0;
}
.content-post .tags{
	position: relative;
	top: 70px;
}
.tags{
	margin-top: 20px;
}
.tags li{
	display: inline-block;
	margin-bottom: 10px;
}
.tags h3{
	margin-right: 20px;
}
.tags li a{
	padding: 5px 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
}
.tags li a:hover{
	color: #fff;
	opacity: 0.8;
}
.comments-about-post{
	position: relative;
	top: 140px;
}
.comments-about-post figure{
	margin-right: 20px;
	float: left;
	width: 20%;
}
.comments-content {
	padding-top: 15px;
}
.comments-about-post figure img{
	-webkit-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.comments-about-post:hover figure img{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
.comments-about-post .box .reply{
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
}
aside{
	padding-left: 20px;
	background-color:rgba(255,255,255,0.9);
}
aside h4 a:hover{
	color: #575757;
}
aside .line{
	margin: 10px 0;
}
.items-blog img{
	width: 90px;
	height: 56px;
	float: left;
	margin-right: 15px;
}
.items-blog li{
	padding: 15px 0;
	border-bottom: 1px solid #dadada;
}
.items-blog li:last-child{
	border-bottom: none;
	padding-bottom: 0;
}


/* Skills  Sponsors  Services -------------------------------------------------------*/
.paddings#services{
	padding-bottom: 0;
}
.list-sponsors{
	margin: 0 auto;
	padding-top: 50px;
	overflow: hidden;
}
.sponsors li{
	display: inline-block;
	opacity: 0;
}
.skills{
	position: relative;
	margin-top: 80px;
	background: url(../img/circles.png) no-repeat;
	width: 1170px;
	height: 420px;
}
.item-skills{
	position: relative;
}
.item-skills a{
	position: absolute;
}
.item-skills a:hover{
	cursor: pointer;
}
.item-skills i{
	font-size: 27px;
	border-radius: 50%;
	color: #fff;
	width: 67px;
	height: 67px;
	padding-top: 12px;
	border: 7px solid #fff;
	opacity: 0;
}
.skills .icon1{
	bottom: 135px;
	left: 46%;
}
.skills .icon2{
	left: 165px;
	bottom: 50px;
}
.skills .icon3{
	left: 350px;
	bottom: 220px;
}
.skills .icon4{
	right: 350px;
	bottom: 220px;
}
.skills .icon5{
	right: 155px;
	bottom: 50px;
}
.skills .icon6{
	left: 130px;
	bottom: 220px;
}
.skills .icon7{
	top: -21px;
	left: 46%;
}
.skills .icon8{
	right: 130px;
	bottom: 220px;
}
.bar-section iframe{
	height: 320px;
}

/* Gallery ----------------------------------------------------------------*/
.gallery.paddings,
.gallery.paddings-header{
	padding-bottom: 0;
}
.item-hover{
	position: relative;
	overflow: hidden;
}
.item-hover img{
	width: 100%;
}
.title-hover{
	position: absolute;
	left: 0;
	padding: 5px 25px;
	width: 60%;
	z-index: 3;
	bottom: 92px;
}
.item-hover:hover .title-hover{
	background: #000;
}
.text-hover-simple{
	position: absolute;
	left: 25px;
	top: 185px;
	z-index: 3;
}
.text-hover-simple h4{
	font-size: 32px;
	line-height: 42px;
	color: #fff;
	font-weight: 400;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}
.title-hover p{
	margin: 0;
	color: #fff;
	font-family: 'Lato', 'sans-serif';
	font-size: 18px;
}
.icons-hover{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 4;
	opacity: 0;
}
.icons-hover i{
	font-size: 16px;
	color: #fff;
	width: 38px;
	height: 38px;
	padding-top: 11px;
	text-align: center;
}
.bg-overflow{
	background: rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* Testimonials ----------------------------------------------------------------*/
.testimonials{
	width: 80%;
	margin: 0 auto;
}
.testimonials:hover li figure img{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);	
}
.testimonials li figure{
	width: 30%;
	margin: 1em 40px;
	float: left;
}
.testimonials li figure img{
	-webkit-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.testimonial-content{
	padding-top: 15px;
}

/* Filters ---------------------------------*/
.portfolioFilter a{
	padding: 5px 10px;
}
.portfolioFilter a.current{
	color: #fff;
	padding: 5px 10px;
	border-radius: 3px;
}
.portfolioFilter a:hover.current{
	color: #fff;
	opacity: 0.9;
}
.items-gallery-filter{
	width: 100%;
	margin-top: 50px;
}
.items-gallery-filter li{
	width: 25%;
}
.portfolioFilter a{
	margin-right: 20px;
	font-size: 13px;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
   -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
   transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
.item-hover.top{
	margin-top: 30px;
}

/* Team -------------------------------------------------------------------*/
.slide-team .text-right {
	float: right;
	padding-right: 10px;
	font-style: italic;
	font-size: 12px;
}
.title-subtitle span{
	display: block;
	font-size: 14px;
	color: #575757;
}
.title-subtitle{
	font-weight: 400;
	padding-top: 35px;
}
.team img:hover{
	opacity: 0.8;
}
.team{
	margin-top: 50px;
}
.item-hover:hover .icons-hover,
.team li:hover .icons-hover{
	opacity: 1;
}
.item-hover:hover img,
.team li:hover .item-hover img{
	-webkit-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.item-hover:hover .bg-overflow,
.team li:hover .bg-overflow{
	background: rgba(0,0,0,0.4);	
}
.items-gallery .owl-pagination{
	display: none;
}
.items-gallery.owl-theme .owl-controls{
	margin-top: 0;
}
.items-gallery:hover{
	cursor: move;
}
.icons-hover.social i{
	font-size: 18px;
}
.team li{
	border: 1px solid #ededed;
	background-color: #f7f7f7;
}
.team-content{
	padding: 15px;
}
.team .title-hover{
	bottom: 69px;
}

/* Accordion --------------------------------------------------------------*/
.nav .active{
	border: none;
	padding: 0;
	background-color: transparent;
}
.tab-pane.active{
	background-color: transparent;
	border: 1px solid #ddd;
}
.accordion-trigger{
	color: #fff;
	padding: 10px 20px;
	background: url(../img/toggle.png) no-repeat right 14px;
	margin-bottom: 10px;
}
.accordion-container{
	padding: 0 20px;
}
.accordion-trigger:hover{
	cursor: pointer;
}

/* Contact ----------------------------------------------------------------*/
.paddings-header.contact{
	padding-bottom: 0;
}
#map{
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: relative;
}
.contact i{
	font-size: 52px;
	line-height: 24px;
	float: left;
	border: none;
	color: #9a9a9a;
	margin: 18px 20px 11px 0;
}
.list-info{
	margin-right: 50px;
}
.list-info li {
	margin-bottom: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ededed;
}
.list-info h4{
	font-weight: 400;
}
.form-contact{
	margin-top: 30px;
}
.form-contact label{
	float: left;
	width: 10%;
	display: block;
	font-weight: 400;
	font-size: 13px;
}
.name.form-control,
.email.form-control,
.subject.form-control{
	width: 450px;
}
.form-contact .form-control{
	margin-bottom: 20px;
	border-radius: 0;
	border: 1px solid #dadada;
}
textarea.form-control{
	height: 150px;
	width: 550px;
}

/* Copry & Social ---------------------------------------------------------*/
.copry{
	padding-top: 40px;
}
.copry .sf-menu > li a{
	font-size: 13px;
	line-height: 23px;
	padding: 0 4px;
}
.copry .sf-menu > li a:first-child{
	padding-left: 0;
}
.copry .sf-menu{
	padding: 0 0 5px 0;
}
.social a{
	color: #fff;
	font-size: 20px;
}
.social li{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #404040;
	text-align: center;
	border-radius: 50%;
	padding-top: 12px;
	margin-right: 5px;
}

/* Pricing Tables  -----------------------------------------------------*/
.pricing-img{
	position: relative;
}
.pricing-hover{
	position: absolute;
	bottom: 30px;
	padding: 7px 40px 7px 30px;
	color: #fff;
	margin-top: 30px;
}
.pricing-hover h2{
	font-weight: 400;
	color: #fff;
}
.pricing-hover .line{
	margin: 5px 0;
}
.pricing{
	background-color: #f7f7f7;
	border: 1px solid #ededed;
	padding-bottom: 30px;
}
.pricing span{
	line-height: 27px;
	font-weight: lighter;
	color: #9a9a9a;
}
.pricing:hover{
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}
.pricing-list{
	margin-top: 10px;
}
.pricing-list li{
	border-bottom: 1px solid #ededed;
	padding: 10px 0;
	list-style: none;
	margin-right: 40px;
}
.pricing-list li:last-child{
	margin-bottom: 30px;
}
.pricing-list li i{
	margin-right: 5px;
}


/* Footer -----------------------------------------------------------------*/
.copry,
footer{

	padding: 50px 0 30px 0;
}
#footer-2{
	padding: 70px 0 30px 0;
}
footer h3{
	font-weight: 400;
	color: #dadada;
}
footer .line{
	margin: 10px 20px 14px 0;
	background-color: #434242;
}
footer p{
	color: #dadada;
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
}
footer .social a{
	font-size: 20px;
}
footer .items-blog .line{
	margin: 20px 0;
}
footer h4 a,
.tweet_time a{
	color: #dadada;
}
footer .line.topf{
	margin-top: 50px;
	margin-bottom: 30px;
}
footer h1{
	font-size: 35px;
	color: #dadada;
}
footer .copry{
	padding-top: 0;
}

/* Twitter-----------------------------------------------------------------*/
.tweet_time a{
	font-weight: lighter;
	background: url(../img/twitter-icon.png) no-repeat 0 2px;
	width: 20px;
	height: 20px;
	padding-left: 25px;
	vertical-align: middle;
}
.tweet_time{
	display: block;
	font-size: 14px;
}
div.twitter ul li {
	color: #9a9a9a;
	margin-bottom: 20px;
	font-size: 14px;
}

.fa-hover{
	margin: 5px 0;
}
.fa-hover a{
	color: #575757;
}
.fa-hover a i{
	font-size: 16px;
	margin-right: 5px;
}

/* Layout Boxed ------------------------------------------------------------*/
.layout-boxed .about{
	/* TODO : find image */
	/*background: url(../img/person.png) no-repeat 4px 70px*/
}

.tp-caption .button-border{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.tp-caption.simple-text{
	text-transform: uppercase;
}
.tp-caption.icons{
	width: 145px;
	height: 145px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	border: 2px solid #fff;
	line-height: 178px;
	border-radius: 50%;
}
.tp-caption.icons i{
	color: #fff;
	font-size: 60px;
}
.tp-caption.line{
	width: 45%;
}

/* toTop ------------------------------------------------------------------*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:39px;
	height:39px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
}
#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -39px;
	width:39px;
	height:39px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {
	outline:none;
}

.button i{
	font-size: 16px;
}

/* custom style -------------------------------------*/
.project-phase{
	height: 450px;
}

.mar-top-30 {
	margin-top: 30px;
}

.text-center{
	text-align: center;
}