a,
a:hover,
.menu-logo.is-sticky,
.menu-logo,
.menu-logo.is-sticky .sf-menu > li a,
.sf-menu > li a,
.menu-logo.is-sticky .active,
.active,
.team-hover,
.show:hover .team-hover,
.item-hover:hover .text-hover,
.item-hover,
.item-simple:hover i,
.item-simple i,
.social li:hover i,
.social li i,
.items-about .item-simple:hover .circle-font i,
.items-about .item-simple:hover .circle-font,
.circle-font,
.items-about .item-simple:hover,
.items-about .item-simple,
.item-hover:hover .title-hover,
.title-hover,
.icons-hover i,
.item-hover:hover .icons-hover,
.bg-overflow,
.item-hover:hover .bg-overflow,
.item-hover:hover img,
.item-hover img,
.testimonial li:hover .item-hover img,
.testimonial li .item-hover img,
.testimonials:hover li figure img,
.testimonials li figure img,
.pricing:hover,
.pricing,
.comments-about-post figure img,
.comments-about-post:hover figure img,
.tp-caption.icons:hover,
.tp-caption.icons{
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
}