.color,
.new-about a,
.testimonials .active,
#menu li.active a,
.gallery p a,
.gallery p a:hover,
blockquote h2,
.popover-title,
.table-price,
.fa-hover a:hover i,
.portfolioFilter a:hover,
.accordion-container a:hover,
.accordion-container a,
.single-post a:hover,
aside h2,
aside h4 a:hover,
.categories a p:hover,
.contact i,
.social li:hover i,
.box a:hover,
.nav-tabs > li > a:hover,
.boxes-info h3 i,
.pagination > li:hover > a,
.date-number a:hover,
.bar-section h2,
.item-hover:hover,
.blog .date-number a,
.button-border:hover,
.testimonials h2,
.comments-about-post h3,
.tp-caption a:hover{
	color: #88C425;
}

#theme-options .title,
#theme-options .title span,
#theme-options .layout-style li.active,
.button,
.box i,
.owl-theme .owl-controls .owl-page span,
.skills i,
.team-hover ul li,
.circle,
.team-hover ul li,
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a,
.btn-primary, .btn-primary:hover,
.button-gray:hover,
.color-features,
.active-menu,
.portfolioFilter a.current,
.accordion-trigger,
.tags li a,
.button:hover,
.meter > span,
.owl-theme .owl-controls .owl-buttons div,
.items-about .item-simple:hover .square-font,
.text-hover i,
.item-hover .title-hover,
.icons-hover i,
.square-font.active,
.pricing-hover,
.tp-caption.icons:hover{
	background: :#88C425;
	background-color: #88C425;
}
.testimonials li figure img,
.comments-about-post figure img{
	border: 6px solid #88C425;
}

.tp-caption.icons:hover{
	border: 2px solid #88C425;
}

.color-1{
	background-color: #61773C;
}
.color-2{
	background-color: #8BAB56;
}
.color-3{
	background-color: #C8F77C;
}